[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[packages]

anki-overdrive = "*"
paho-mqtt = "*"
pyyaml = "*"
cerberus = "*"


[dev-packages]

